.jumbotron {
	background-color: yellow;
	color: black;
	margin-top: 50px;
	
}

.btn {
	background-color: blue;
	
}

footer {
	padding: 10px 20px 0 20px;
	background-color: yellow;
	margin-bottom: 0px;
	margin-top: 20px;
}

.btn-pasos {
	flex: 1 200px;
	margin-top: 10px;
}

.btn-leermas {
	width: 100%;

}

.footer-icons {
	padding-right: 10px;
	
}

.tab-content { 
padding-top: 10px;
}
