$yellow: #000000;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}
	
	.jumbotron {
		background-color: $yellow;
		color: black;
		@include margenes(50px, 0px);
		
	}

	.btn {
		background-color: blue;
		
	}

	footer {
		padding: 10px 20px 0 20px;
		background-color: $yellow;
		@include margenes(10px, 0px);
	}

	.btn-pasos {
		flex: 1 200px;
		@include margenes(10px, 0px);
	}

	.btn-leermas {
		width: 100%;

	}

	.footer-icons {
		padding-right: 10px;
		
	}

	.tab-content { 
	padding-top: 10px;
	}
