@yellow: #d8e312;

.margenes(@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}

.jumbotron {
  background-color: @yellow;
  color: black;
  .margenes(50px, 0px);
 }

.btn {
  background-color: blue; 
 }

footer {
  padding: 10px 20px 0 20px;
  background-color: @yellow;
  .margenes(10px, 0px); 
 }

.btn-pasos {
  flex: 1 200px;
  .margenes(10px, 0px); 
 }

.btn-leermas {
  width: 100%; 
 }

.footer-icons {
  padding-right: 10px; 
 }

.tab-content {
  padding-top: 10px; 
 }
