.jumbotron {
  background-color: #000000;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

.btn {
  background-color: blue; }

footer {
  padding: 10px 20px 0 20px;
  background-color: #000000;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-pasos {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-leermas {
  width: 100%; }

.footer-icons {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
